<html>
<body>
<h2>HTML Forms</h2>
<form action="/submit" method="POST">
    <label for="science">science</label><br>
    <input type="text" id="science" name="science" value="0"><br><br>
    <label for="maths">maths</label><br>
    <input type="text" id="maths" name="maths" value="0"><br><br>
    <label for="c">c</label><br>
    <input type="text" id="c" name="c" value="0"><br><br>
    <label for="datascience">data science</label><br>
    <input type="text" id="datascience" name="datascience" value="0"><br><br>
    <input type="submit" value="submit">
</form>
<p>If you click on the submit button, the form will redirect you to "/submit" page</p>
</body>
</html>